body{
    height: 100vh;
    margin: 0px;
    padding: 0px;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#parant{
  height: 630px;
  width: 600px;

  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.cell{
    height: 170px;
    width: 170px;
    border: 2px solid red;
    border-radius: 10px;
    background-color: blue;
    font-size: 80px;
    font-weight: 900;
    display: flex;
    justify-content: center;
    align-items: center;
}
#box{
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
   
}
button{
    height: 35px;
    width: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    background-color: blue;
    cursor: pointer;
    color: white;
}
button:hover{
    background-color: rgba(0, 0, 255, 0.893);
    height: 30px;
    font-size:15px;

}